@import "utilities/index", "base/index", "components/index";

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $med-break) {
  .home-title {
    h1 {
      line-height: normal;
    }
  }

  .home-scroll {
    bottom: -600px;
  }

  .portfolio-container {
    // grid-template-columns: 1fr 1fr;
    padding-top: 80px;
  }
}

@media (min-width: $lg-break) {
  // typography
  //   body {
  //     font-size: $font-size-desktop-normal;
  //   }

  h1 {
    font-size: $font-size-desktop-xl;
  }

  .menu-link {
    color: $font-color-secondary;
  }

  //   .home-title {
  //     p {
  //       font-size: $font-size-desktop-lg;
  //     }
  //   }

  .skills-subtitle {
    font-size: $font-size-desktop-lg;
  }

  //   .footer-social {
  //     i {
  //       font-size: $font-size-desktop-social;
  //     }
  //   }

  // nav bar

  nav {
    padding-left: 0;
    padding-right: 0;
  }
  .hamburger-menu {
    display: none;
  }

  .off-screen-container {
    position: static;
    width: auto;
    height: auto;
    background: none;
    backdrop-filter: none;
  }

  .off-screen-menu {
    position: inherit;
    display: flex;

    li {
      padding: 10px 40px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  // background-img
  .desktop {
    display: block;
  }

  //   image
  .about-img {
    img {
      width: 300px;
      height: 300px;
    }
  }

  .portfolio-img {
    padding: 0;
  }
  .portfolio-link {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home-scroll {
    bottom: -400px;
  }

  .about,
  .skills,
  .portfolio {
    min-height: 80vh;
  }

  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
  }

  .about-container,
  .skills-container {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-container {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-data {
    padding: 0 30px;
  }
}
