/* ============================================= */
/*          　　　　　  Base Style colors  　             */
/* ============================================= */

$color-primary: #0f1637;
$color-accent-1: #cb409e;

$color-gray: #e0e1e5;
$color-white: #fafaff;
$color-black: black;

$font-color-primary: #fafaff;
$font-color-secondary: #9fa8aa;

$polygon-hover-color-1: #d9ff00;
$polygon-hover-color-2: #fd00ff;
$polygon-hover-color-3: #00ffff;

/* ============================================= */
/*                 Typography                    */
/* ============================================= */

@font-face {
  font-family: "Majoram";
  src: url(../font/Majoram.otf) format("opentype");
}

$font-family-title: "Majoram", sans-serif;
$font-family-primary: "Montserrat", sans-serif;

$font-size-mobile-small: 0.9rem;
$font-size-mobile-normal: 1rem;
$font-size-mobile-lg: 1.25rem;
$font-size-mobile-xl: 2rem;
$font-size-mobile-xxl: 5.5rem;
$font-size-mobile-social: 1.5rem;

$font-size-desktop-small: 1rem;
$font-size-desktop-normal: 1.25rem;
$font-size-desktop-lg: 1.6rem;
$font-size-desktop-xl: 2.56rem;
$font-size-desktop-xxl: 7.5rem;
$font-size-desktop-social: 1.75rem;

/* ============================================= */
/*                Media Queries                  */
/* ============================================= */

$sm-break: 320px;
$med-break: 768px;
$lg-break: 1200px;
