
/* ============================================= */
/*            Descriptive colors                 */
/* ============================================= */

$lunar-green: #374D3E;
$titan-white: #fafaff;
$pickled-bluewood: #2a3b47;
$nevada: #697477;




/* ============================================= */
/*          　　　　　Base Style colors  　               */
/* ============================================= */

$color-primary: $lunar-green;

$color-white: $titan-white;

$color-dark: $pickled-bluewood;


$font-color-primary: $nevada;


/* ============================================= */
/*                Base Styles                    */
/* ============================================= */

$header-height: 3rem;

$margin-1: 0.5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;

$z-fixed: 100;





/* ============================================= */
/*                 Typography                    */
/* ============================================= */

$font-family-body: 'Montserrat', sans-serif;

$font-wight-medium: 500;

$font-size-big: 6.25rem;
$font-size-normal: 0.938rem;
$font-size-small: 0.813rem;

$font-size-h2: 1.25rem;





/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$sm-break:                768px;
$med-break:               768px;
$lg-break:                1400px;





