img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.about-img {
  img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
}

.portfolio-img {
  background: #1f2644;
  padding: 15px 0;
  margin: 15px 0;
  border-radius: 8px;

  &:first-child {
    margin-top: 0;
  }

  img {
    max-width: 80%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin: 20px auto;
  }
}
