img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.about-img {
  img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
}

.skills-img {
  padding: 30px;
}

.portfolio-img {
  position: relative;
  padding: 2px 0;
  z-index: 0;
}

// portfolio image overlay
.portfolio-link {
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: calc(100% - 40px);
  border-radius: 8px;
  background-color: rgba($color-white, 1);
  backdrop-filter: blur(10px);
  transition: 0.5s;
  box-shadow: 0 0 20px $polygon-hover-color-1, 0 0 20px $polygon-hover-color-2,
    0 0 20px $polygon-hover-color-3;

  &:hover {
    opacity: 1;
  }
}
