.logo-main {
  height: 80px;
  padding: 10px;
}

.logo-path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.skills-icon {
  fill: white;
}

polygon {
  transition: all 2s ease-in;

  &:hover {
    fill: white;
    transition: all 0.2s ease-out;
  }
}

polygon:hover {
  filter: drop-shadow(0 0 40px $polygon-hover-color-1)
    drop-shadow(0 0 40px $polygon-hover-color-2)
    drop-shadow(0 0 40px $polygon-hover-color-3);
}

.cls-1,
.cls-2 {
  fill: #f0f1f3;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-3,
.cls-4 {
  fill: #808395;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-5,
.cls-6 {
  fill: #a0a2b0;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-7,
.cls-8 {
  fill: #c0c2ca;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-9,
.cls-10 {
  fill: #d0d1d8;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15 {
  fill: #111838;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22 {
  fill: #1f2644;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-23,
.cls-24,
.cls-25,
.cls-26 {
  fill: #131a3a;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-27,
.cls-28,
.cls-29 {
  fill: #0f1637;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34 {
  fill: #3f455f;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-35,
.cls-36,
.cls-37 {
  fill: #2f3552;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-38 {
  fill: #272d4b;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-39,
.cls-40,
.cls-41 {
  fill: #4f546d;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-24,
.cls-12,
.cls-28 {
  stroke: #111838;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-17 {
  stroke: #4f546d;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-18,
.cls-31,
.cls-29,
.cls-25,
.cls-21,
.cls-15,
.cls-40 {
  stroke: #5f647a;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-19 {
  stroke: #2f3552;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-10,
.cls-42,
.cls-43,
.cls-4,
.cls-6,
.cls-2,
.cls-13,
.cls-20,
.cls-31,
.cls-32,
.cls-29,
.cls-14,
.cls-25,
.cls-21,
.cls-22,
.cls-33,
.cls-26,
.cls-15,
.cls-34,
.cls-8,
.cls-44,
.cls-45,
.cls-40,
.cls-41,
.cls-36,
.cls-37,
.cls-46 {
  stroke-width: 0.5px;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-10,
.cls-42,
.cls-43,
.cls-4,
.cls-6,
.cls-2,
.cls-32,
.cls-14,
.cls-22,
.cls-26,
.cls-8,
.cls-44,
.cls-45,
.cls-41,
.cls-36 {
  stroke: #b0b2bd;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-42 {
  fill: #b0b2bd;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-43 {
  fill: #9093a2;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-13,
.cls-34 {
  stroke: #3f455f;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-20,
.cls-33 {
  stroke: #9093a2;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-44 {
  fill: #e0e1e5;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-45,
.cls-46 {
  fill: #5f647a;

  &::hover {
    filter: drop-shadow(0 0 40px $polygon-hover-color-1);
  }
}

.cls-37 {
  stroke: #c0c2ca;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}

.cls-46 {
  stroke: #808395;

  // &::hover {
  //   filter: drop-shadow(0 0 40px $polygon-hover-color);
  // }
}
