*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

.section-title {
  text-align: center;

  span {
    position: relative;
    text-align: center;
    padding: 20px 0;

    // &::after {
    //   position: absolute;
    //   content: "";
    //   width: 0.5rem;
    //   height: 0.5rem;
    //   left: 50%;
    //   bottom: 0;
    //   transform: translateX(-50%);
    //   background-color: white;
    //   border-radius: 50%;
    // }
  }
}

.about,
.skills,
.portfolio,
.contact {
  max-width: 1140px;
  min-height: 100vh;
  padding-top: 110px;
  margin: 0 auto;
}

.about-container,
.skills-container,
.portfolio-container,
.contact-container {
  padding: 50px 20px;
}

.footer-container {
  padding: 50px 16px;
}

/*===== Home =====*/

.home {
  min-height: calc(100vh - 100px);
  position: relative;
  padding-top: 30px;
  background: radial-gradient(
      circle at top left,
      rgba($color-primary, 1) 30%,
      transparent
    ),
    url(../svg/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $lg-break) {
    background: none;
  }
}

.desktop {
  display: none;
}

.home-container {
  max-width: 1140px;
}

.home-title {
  width: fit-content;
  padding: 0 20px;
  z-index: 1;
}

.home-scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 30px 20px;
  transition: all 0.2s;

  &:hover {
    color: $font-color-primary;
    transform: rotate(-180deg) translateY(10px);
  }
}

/*===== About =====*/

.about-container {
  text-align: center;
}

.about-subtitle {
  margin-top: 20px;
}

.about-text {
  h2,
  p {
    padding: 10px 20px;
  }
}

/*===== Skills =====*/

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

/*===== Portfolio =====*/

// center text
.portfolio-link {
  display: table;
  text-align: center;
}

.portfolio-link-content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 20px;

  h3 {
    margin: 10px 0;
  }

  p,
  ul {
    margin: 10px 0;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      margin: 0 10px;
    }
  }
}

/*===== Contact =====*/

.contact {
  min-height: 70vh;
}

.contact-container {
  text-align: center;
}

.contact-info {
  padding: 0 20px;

  h2,
  p {
    margin: 20px 0;
  }

  a {
    display: inline-block;
    width: fit-content;
    transition: 0.3s;
    padding: 12px;
    border: 2px solid $color-accent-1;
    border-radius: 8px;
    margin: 30px auto;

    &:hover {
      background-color: rgba($color-accent-1, 0.2);
      box-shadow: 0 0 10px $polygon-hover-color-1,
        0 0 20px $polygon-hover-color-2;
    }
  }
}

/*===== Footer =====*/

.footer {
  min-height: auto;
  background: $color-gray;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer-nav {
  transition: all 0.3s;

  &:hover {
    color: $color-accent-1;
  }
}

.footer-social {
  transition: all 0.3s;

  &:hover {
    color: $color-accent-1;
  }

  i {
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
  }
}
