*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

.section-title {
  text-align: center;

  span {
    position: relative;
    text-align: center;
    padding: 20px 0;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   width: 100%;
    //   height: 0.2rem;
    //   left: 0;
    //   top: 0.5rem;
    //   background-color: white;
    // }

    &::after {
      position: absolute;
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background-color: white;
      border-radius: 50%;
    }
  }
}

.about,
.skills,
.portfolio,
.contact {
  max-width: 1140px;
  min-height: 100vh;
  padding-top: 110px;
  margin: 0 auto;
  scroll-snap-align: start;
  scroll-margin: 20px;
}

.about-container,
.skills-container,
.portfolio-container,
.contact-container {
  padding: 50px;
}

/*===== Home =====*/

.home {
  min-height: 100vh;
  position: relative;
  padding-top: 30px;
  scroll-snap-align: start;
  scroll-margin: 110px;
  background: radial-gradient(
      circle at top left,
      rgba($color-primary, 1) 30%,
      transparent
    ),
    url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: $lg-break) {
    background: none;
  }
}

.desktop {
  display: none;
}

.home-container {
  max-width: 1140px;
}

.home-scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 30px 20px;
  transition: all 0.2s;

  &:hover {
    color: $font-color-primary;
    transform: rotate(-180deg) translateY(10px);
  }
}

/*===== About =====*/

.about-container {
  text-align: center;
}

.about-text {
  h2,
  p {
    padding: 20px 20px;
  }
}

/*===== Skills =====*/

.skills-list {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;

  li {
    padding: 0 30px;
  }
}

/*===== Portfolio =====*/

.portfolio-container {
  padding: 30px 50px;
}

// center text
.portfolio-link {
  display: table;
  text-align: center;

  a {
    display: table-cell;
    vertical-align: middle;
  }
}

/*===== Contact =====*/

.contact {
  min-height: 70vh;
}

/*===== Footer =====*/

.footer {
  min-height: auto;
  background: $color-gray;
}

.footer-container {
  max-width: 1140px;
  padding: 50px;
  margin: 0 auto;
}

.footer-social {
  i {
    padding: 0 10px;
  }
}
