*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-white;
  cursor: pointer;
}

.section {
  max-width: 1024px;
  min-height: 100vh;
  padding-top: 110px;
  margin: 0 auto;
}

.section-title {
  text-align: center;

  span {
    position: relative;
    text-align: center;
    padding: 20px 0;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.2rem;
      left: 0;
      top: 0.5rem;
      background-color: white;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.2rem;
      left: 0;
      top: 3.5rem;
      background-color: white;
    }
  }
}

.about-container,
.skills-container,
.portfolio-container,
.contact-container,
.footer-container {
  padding: 50px;
}

/*===== Home =====*/

.home {
  position: relative;
  padding-top: 30px;
  background: radial-gradient(
      circle at top left,
      rgba($color-primary, 1) 30%,
      transparent
    ),
    url(../img/asset1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 30px 20px;
}

/*===== About =====*/

.about-container {
  text-align: center;
}

.about-text {
  h2,
  p {
    padding: 20px 20px;
  }
}

.about-social {
  padding: 30px 0;
}

.about-social-icon {
  i {
    font-size: 1.5rem;
    padding: 10px 10px;
  }
}

/*===== Skills =====*/

.skills-list {
  display: flex;
  padding: 30px 0;

  li {
    padding: 0 30px;
  }
}

/*===== Portfolio =====*/

.portfolio-container {
  padding: 30px 50px;
}

// center text
.portfolio-link {
  display: table;
  text-align: center;

  a {
    display: table-cell;
    vertical-align: middle;
  }
}

/*===== Contact & Footer =====*/

.contact,
.footer {
  min-height: auto;
}

.footer-social {
  i {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}
