.bd-grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

.home-container.bd-grid {
  position: relative;
  height: fit-content;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 30px;
  width: fit-content;
  z-index: 1;

  p {
    padding: 0 5px;
  }
}

.home-scroll {
  position: absolute;
  bottom: -400px;
  width: fit-content;
  align-self: end;
}
