.bd-grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

.home-container.bd-grid {
  position: relative;
  height: fit-content;
}

.home-scroll {
  position: absolute;
  bottom: -220px;
  width: fit-content;
  align-self: end;
}
