* {
  font-family: $font-family-primary;
}

body {
  font-size: $font-size-normal;
  font-weight: $font-wight-medium;
  color: $font-color-primary;
  line-height: 1.6;
  background-color: $color-primary;
}

h1 {
  font-size: $font-size-big;
}

.section-title {
  text-transform: uppercase;
}

/*===== NAV =====*/

.menu-link {
  text-transform: lowercase;
  color: $black;
  font-size: $font-size-normal;
}

/*===== Home =====*/

.home-title {
  h1 {
    font-weight: 100;
    line-height: normal;
    text-shadow: 23px 21px 25px #ffffc8;
  }

  p {
    font-family: $font-family-secondary;
    font-size: 1.25rem;
  }
}

.home-scroll {
  a {
    color: $color-gray;
    transition: all 0.3s;

    &:hover {
      color: $font-color-primary;
    }
  }
}

/*===== About =====*/

.about-intro {
  font-family: $font-family-secondary;
}

/*===== Skills =====*/

.skills-subtitle {
  font-size: 1.25rem;
}

.skills-list {
  li {
    font-family: $font-family-secondary;
  }
}

/*===== Portfolio =====*/

.portfolio-link-name {
  color: $black;
}

/*===== Contact =====*/

.contact-info {
  a {
    color: $color-gray;
    transition: 0.3s;

    &:hover {
      color: $font-color-primary;
    }
  }
}

/*===== Footer =====*/

.footer-data {
  h3 {
    text-transform: lowercase;
  }
  p,
  li,
  a {
    color: $color-gray;
  }
}
