* {
  font-family: $font-family-primary;
}

body {
  font-size: $font-size-mobile-normal;
  font-weight: $font-wight-medium;
  color: $font-color-primary;
  line-height: 1.6;
  background-color: $color-primary;
}

h1 {
  font-size: $font-size-mobile-xl;
}

a {
  text-decoration: none;
  color: $color-white;
}

.section-title {
  text-transform: uppercase;
}

/*===== NAV =====*/

.menu-link {
  font-family: $font-family-secondary;
  text-transform: lowercase;
  color: $color-black;
}

/*===== Home =====*/

.home-title {
  h1 {
    color: $color-primary;
    font-weight: 700;
    line-height: 7rem;
    text-shadow: 0 0 20px white, 0 0 20px white, 0 0 40px white,
      0 0 10px #ffffc8;
  }

  p {
    font-family: $font-family-secondary;
    font-size: $font-size-mobile-lg;
  }
}

.home-scroll {
  a {
    color: $font-color-secondary;
  }
}

/*===== About =====*/

.about-intro {
  font-family: $font-family-secondary;
}

/*===== Skills =====*/

.skills-subtitle {
  font-size: $font-size-mobile-lg;
}

.skills-list {
  li {
    font-family: $font-family-secondary;
  }
}

/*===== Portfolio =====*/

.portfolio-link-name {
  color: $color-black;
}

/*===== Contact =====*/

.contact-info {
  a {
    color: $font-color-secondary;
    transition: 0.3s;

    &:hover {
      color: $font-color-primary;
    }
  }
}

/*===== Footer =====*/

.footer-data {
  h3 {
    text-transform: lowercase;
    color: $color-black;
  }
  p,
  li,
  a {
    color: $font-color-secondary;
  }
}

.footer-social {
  i {
    font-size: $font-size-mobile-social;
  }
}
