* {
    font-family: $font-family-primary;
}

h1 {
    font-size: $font-size-big;
}

.section-title {
    text-transform: uppercase;
}


/*===== NAV =====*/

.menu-link {
    color: $black;
    font-size: $font-size-normal;
}


/*===== Home =====*/

.home-title {
    text-shadow: 20px 17px 15px black;
}


/*===== About =====*/

.about-intro {    
    font-family: $font-family-secondary;
}


/*===== Skills =====*/

.skills-subtitle {    
    font-size: 1.25rem;
}

.skills-list {
    li {
        font-family: $font-family-secondary;
    }
}


/*===== Portfolio =====*/

.portfolio-link-name {
    color: $black;
}


/*===== Contact =====*/

.contact-info {
    transition: 0.3s;

    a:hover {
        color: red;
        
    }
}